Week_12/SOAPClient/SOAPClient/Service References/SenecaES/EmployeeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AssociationsOther.Controllers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AssociationsOther.Controllers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeBase" nillable="true" type="tns:EmployeeBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeBase" nillable="true" type="tns:ArrayOfEmployeeBase" />
  <xs:complexType name="EmployeeBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmployeeAdd">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmployeeBase" nillable="true" type="tns:EmployeeBase" />
  <xs:complexType name="EmployeeAdd">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeAdd" nillable="true" type="tns:EmployeeAdd" />
</xs:schema>